@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Service &amp; Asset Tracker</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">

                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="login100-form validate-form" style="padding-top: 55px;">
                    <span class="login100-form-title p-b-43">
                        Create a new account
                    </span>
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="wrap-input100 validate-input" data-validate="Required field!">
                        <input asp-for="Name" class="input100" type="text">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Name</span>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Required field!">
                        <input asp-for="Surname" class="input100" type="text">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Surname</span>
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Required field!">
                        <input asp-for="Organisation" class="input100" type="text">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Organisation</span>
                        <span asp-validation-for="Organisation" class="text-danger"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Required field!">
                        <input asp-for="Position" class="input100" type="text">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Position/Title</span>
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Required field!">
                        <input asp-for="PhoneNumber" class="input100" type="text">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Phone number</span>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input asp-for="Email" class="input100" type="text">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Email</span>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input asp-for="Password" class="input100" type="password">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Password</span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Confirm Password is required">
                        <input asp-for="ConfirmPassword" class="input100" type="password">
                        <span class="focus-input100"></span>
                        <span class="label-input100">Confirm Password</span>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="flex-sb-m w-full p-t-3 p-b-32"></div>
                    @* Submit and back button *@
                    <div class="container-login100-form-btn">
                        <button style="color: white" type="submit" class="login100-form-btn">Submit</button><br /><br /><br />
                        <p>Already have an account?<a asp-action="Login"> Log in</a></p>
                    </div>
                </form>

                @* Left side image *@
                <div class="login100-more" style="background-image: url('/Login/images/bg-new.jpg');">
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login/js/main.js"></script>

</body>
</html>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
