<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <h3>Main Menu</h3>
        <ul class="nav side-menu">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fa fa-home"></i> Dashboard
                </a>
            </li>

            <li>
                <a>
                    <i class="fa fa-exchange"></i> Reseller
                    <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                    <li>
                        <a>
                            Reseller
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="reseller.html">List Reseller</a>
                            </li>
                            <li>
                                <a href="add-reseller.html">Add Reseller</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a>
                            Reseller Customer
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="reseller-customer.html">List Reseller Customer</a>
                            </li>
                            <li>
                                <a href="reseller-customer-add.html">Add Reseller Customer</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a>
                            Reseller Service
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="reseller-service.html">List Reseller Service</a>
                            </li>
                            <li>
                                <a href="reseller-service-add.html">Add Reseller Service</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a>
                            Reseller DLSM Product
                            <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li>
                                <a href="reseller-product.html">List DLSM Product</a>
                            </li>
                            <li>
                                <a href="reseller-product-add.html">Add DLSM Product</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </li>

            <li>
                <a>
                    <i class="fa fa-shopping-cart"></i>Purchase Order
                    <span class="fa fa-chevron-down"></span>
                </a>

                <ul class="nav child_menu">

                    <li>
                        <a asp-action="index" asp-controller="Purchase_order">List Purchase Order</a>
                    </li>

                    <li>
                        <a asp-action="create" asp-controller="Purchase_order">Add Purchase Order</a>
                    </li>
                </ul>
            </li>

            <li>
                <a>
                    <i class="fa fa-sitemap"></i>Job Reference
                    <span class="fa fa-chevron-down"></span>
                </a>

                <ul class="nav child_menu">
                    <li>
                        <a href="job-reference.html">
                            List Job Reference
                        </a>
                    </li>

                    <li>
                        <a href="add-job-reference.html">Add Job Reference</a>
                    </li>
                </ul>
            </li>

            <li>
                <a>
                    <i class="fa fa-clone"></i> Service Job
                    <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                    <li>
                        <a href="service-job.html">
                            List Service Job
                        </a>
                    </li>
                    <li>
                        <a href="add-service-job.html">Add Service Job</a>
                    </li>
                </ul>
            </li>

            <li>
                <a>
                    <i class="fa fa-bar-chart-o"></i> Reports
                    <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                    <li>
                        <a href="rpt-serial-number.html">Serial Number</a>
                    </li>
                    <li>
                        <a href="rpt-service-billing.html">Ad hoc Service Billing </a>
                    </li>
                    <li>
                        <a href="rpt-dlms.html">DLMS Report </a>
                    </li>
                    <li>
                        <a href="rpt-po.html">Purchase Order Reports </a>
                    </li>

                </ul>
            </li>

            <li>
                <a>
                    <i class="fa fa-users"></i> User Management
                    <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                    <li>
                        <a href="users-list.html">
                            User Accounts
                        </a>
                    </li>
                    <li>
                        <a href="user-activity.html">User Activity</a>
                    </li>
                    <li>
                        <a href="user-add.html">Add User</a>
                    </li>

                </ul>
            </li>

            <li>
                <a>
                    <i class="fa fa-folder-o"></i> Others
                    <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                    <li>
                        <a href="stock-type.html">
                            Stock Type
                        </a>
                    </li>
                    <li>
                        <a href="categories.html">Categories</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>

</div>